<div class="row-reverse full-height">
    <div class="col-half submit-col-decoration">

    </div>
    <div class="col-half submit-col">
        <div *ngIf="displayFormPart0">
            <div><h2>Louer son bateau<br>sur Click&Boat</h2></div>
            <a routerLink="/" class="back_link">< Retour</a>
            <form (ngSubmit)="onSubmit0(f0)" #f0="ngForm">
                <p>Je suis :</p>
                <label for="particulier" class="container_radio">
                    <input ngModel type="radio" name="owner_type" id="particulier" value="particulier" required>
                    <span class="radiomark"></span>Un particulier
                </label>
                <label for="professionnel" class="container_radio">
                    <input ngModel type="radio" name="owner_type" id="professionnel" value="professionnel">
                    <span class="radiomark"></span>Un professionnel
                </label>
                <div>
                    <button type="submit" class="button-secondary" [disabled]=f0.invalid>Commencer</button>
                </div>
            </form>
        </div>
        <div *ngIf="displayFormPart1">
            <div>
                <p>Étape 1/2</p>
                <a (click)="getBack(0)" class="back_link">< Retour</a>
                <h2>Votre bateau</h2>
            </div>
            <form (ngSubmit)="onSubmit1(f1)" #f1="ngForm">
                <label for="voilier" class="container_radio">
                    <input ngModel type="radio" name="boat_type" id="voilier" value="voilier" required>
                    <span class="radiomark"></span>Voilier
                </label>
                <label for="catamaran" class="container_radio">
                    <input ngModel type="radio" name="boat_type" id="catamaran" value="catamaran">
                    <span class="radiomark"></span>Catamaran
                </label>
                <label for="bateau_moteur" class="container_radio">
                    <input ngModel type="radio" name="boat_type" id="bateau_moteur" value="bateau_moteur">
                    <span class="radiomark"></span>Bateau moteur
                </label>
                <label for="semi_rigide" class="container_radio">
                    <input ngModel type="radio" name="boat_type" id="semi_rigide" value="semi_rigide">
                    <span class="radiomark"></span>Semi rigide
                </label>
                <label for="peniche" class="container_radio">
                    <input ngModel type="radio" name="boat_type" id="peniche" value="peniche">
                    <span class="radiomark"></span>Péniche
                </label>
                <label for="jet_ski" class="container_radio">
                    <input ngModel type="radio" name="boat_type" id="jet_ski" value="jet_ski">
                    <span class="radiomark"></span>Jet ski
                </label>
                <label for="yatch" class="container_radio">
                    <input ngModel type="radio" name="boat_type" id="yatch" value="yatch">
                    <span class="radiomark"></span>Yatch
                </label>
                <button type="submit" class="button-secondary" [disabled]=f1.invalid>Suivant</button>
            </form>
        </div>
        <div *ngIf="displayFormPart2">
            <p>Étape 2/2</p>
            <a (click)="getBack(1)" class="back_link">< Retour</a>
            <h2>Votre bateau</h2>
            <form (ngSubmit)="onSubmit2(f2)" #f2="ngForm">
                <label for="boat_name">Nom du bateau</label>
                <input class="form-field" ngModel type="text" name="boat_name" id="boat_name" required>
                <label for="boat_model">Modèle du bateau</label>
                <input class="form-field" ngModel type="text" name="boat_model" id="boat_model" required>
                <label for="owner_name">Nom du propriétaire</label>
                <input class="form-field" ngModel type="text" name="owner_name" id="owner_name" required>
                <label for="boat_description">Description du bateau</label>
                <input class="form-field" ngModel type="text" name="boat_description" id="boat_description" required>
                <div *ngIf="tempBoat.boat_type==='catamaran'||tempBoat.boat_type==='voilier'">
                    <label for="longueur">Longueur</label>
                    <input class="form-field" type="text" id="longueur" name="boat_length" ngModel required>
                    <label for="largeur">Largeur</label>
                    <input class="form-field" type="text" id="largeur" name="boat_width" ngModel required>
                    <label for="tirant">Tirant d'eau</label>
                    <input class="form-field" type="text" id="tirant" name="boat_draught" ngModel required>
                    <label for="equipage">Y a-t-il un équipage ?</label>
                    <input type="checkbox" id="equipage" name="boat_crew" ngModel><br>
                    <label for="equipage">Y a-t-il une annexe ?</label>
                    <input type="checkbox" id="annexe" name="boat_annex" ngModel><br>
                    <div *ngIf="tempBoat.boat_type==='voilier'">
                    <label for="foil">Y a-t-il un foil ?</label>
                    <input type="checkbox" id="foil" name="boat_foil" ngModel>
                    </div>
                </div>
                <div>
                    <button type="submit" class="button-secondary" [disabled]=f2.invalid>Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>
