<div class="container">
    <div class="col-full">
        <h1>Bienvenue sur Click&Boat</h1>
    <div class="text-center">
        <button routerLink="/new-boat" class="button-main">Ajouter un bateau</button>
    </div>
    <div class="autocomplete_container">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="input-row">
                <input type="text" class="autocomplete_input form-field" (ngModelChange)="didModify($event)" name="search_input" [ngModel]="inputValue">
                <button class="button-secondary" type="submit">Rechercher</button>
            </div>
        </form>
        <ul class="list">
            <li class="list-item" *ngFor="let result of results" (click)="selectResult(result)">{{ result }}</li>
        </ul>
    </div>
    </div>
    <div class="row">
        <div class="col-third medium-col-half" *ngFor="let boat of boats; let i=index">
            <app-boat-card [theBoat]="boat" [id]="i"></app-boat-card>
        </div>
    </div>
</div>
