/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
}

.text-center {
    text-align: center;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.row, .input-row {
    display: flex;
    flex-wrap: wrap;
}
.row-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.button-main {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: .25rem;
    border: none;
    padding: .75rem 1.25rem;
    font-size: .75rem;
    cursor: pointer;
    margin: 1rem auto;
    text-decoration: none;
}
.button-secondary {
    color: #fff;
    background-color: #1ABC9C;
    border-color: #1ABC9C;
    border-radius: .25rem;
    border: none;
    padding: .75rem 1.25rem;
    cursor: pointer;
    margin: 1rem auto;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.back_link {
    color: #B1B1B1;
    text-decoration: none;
    cursor: pointer;
}

.form-field {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 0.75rem;
}

.autocomplete_input {
    margin-bottom: 0px;
    flex: 1;
    margin-right: 0.25rem;
}
.autocomplete_container > .list {
    position: absolute;
}
.autocomplete_container > .list > .list-item {
    cursor: pointer;
    font-size: 0.75rem;
}
.autocomplete_container > .list > .list-item:hover {
    background-color: #CCCCCC;
}
.autocomplete_container .button-secondary {
    margin: 0;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin-top: 0px;
}

.list-item {
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125); 
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    padding: 0.75rem;
}
.card-body > h3 {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding-bottom: 5px;
    text-transform: uppercase;
}

.card-img-container {
    max-height: 210px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card-img {
    max-width: 100%;
}

.col-third {
    width: 33.333333%;
    padding: .75rem 1.25rem;
}
.col-half {
    width: 50%;
    padding: .75rem 1.25rem;
}
.col-full {
    width: 100%;
    padding: .75rem 1.25rem;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.submit-col-decoration {
    background-image: url('assets/img/port1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.submit-col {
    background-color: #FBFBFB;
}

.full-height {
    height: 100vh
}

/***** Custom Radio Button *****/

 /* Customisation du "container" du radio button personnalisé */
 .container_radio {
    display: inline-flex;
    //position: relative;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15); 
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.15);
  }
  
  /* Je cache le input par défaut */
  .container_radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Je crée le fond de radio custom */
  .radiomark {
    //position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    background-color: #eee;
    border: 1px solid #B1B1B1;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container_radio:hover input ~ .radiomark {
    background-color: #ccc;
    cursor: pointer;
  }
  
  /* Le conteneur du rond radio à l'état checked */
  .container_radio input:checked ~ .radiomark {
    background-image: url('assets/img/white_checkmark.png');
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: center center;
    border-color: #4A9FF4;
    background-color: #4A9FF4;
  }

/***** Fin Custom Radio Button *****/

@media(max-width:992px) {
    .medium-col-half {
        width: 50%;
        padding: .75rem 1.25rem;
    }
}
@media(max-width:768px) {
    .row {
        flex-direction: column;
    }
    .col-third, .col-half, .medium-col-half {
        width: 100%;
        padding: .75rem 1.25rem;
    }
    .row-reverse {
        flex-direction: column;
    }
    .submit-col-decoration {
        height: 150px;
    }
    .full-height {
        height: auto;
    }
}
